* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-container {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
  top: 0;
}

.nav-links > a {
  margin: 5px 10px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-links > a:hover {
  background-color: white;
  color: rgb(1, 1, 5);
  transition: 0.3s ease-in-out;
}
.logo > a {
  font-weight: 900;
  font-size: 30px;
}

.hero-container {
  height: calc(100vh - 80px);
  width: 100%;
}

.hero-container > header > h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 80px;
}

.hero-container > p {
  text-align: center;
  padding: 10px 50px;
  width: 70vw;
  margin: 20px auto;
}

.btn-container {
  display: flex;
  justify-content: center;
}
.btn-container > button {
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 8px;
  background-color: darkblue;
  color: white;
}
