* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-container {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: sticky;
  top: 0;
}

.nav-links > a {
  margin: 5px 10px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-links > a:hover {
  background-color: white;
  color: rgb(1, 1, 5);
  transition: 0.3s ease-in-out;
}
.logo > a {
  font-weight: 900;
  font-size: 30px;
}
/* Logo + registration heading */
.logo-container {
  width: 90%;
  height: 90px;
  display: flex;
  margin: 30px;
}

.logo-container > img {
  width: 120px;
  height: 120px;
  border: 2px solid rgb(253, 250, 250);
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
.logo-container > img:hover {
  cursor: pointer;
  transform: rotatey(360deg);
}

.logo-container > .heading {
  font-size: 25px;

  margin-left: 30px;
}
.heading > p {
  font-family: Ovo, serif;
  font-size: 24px;
  margin-top: 10px;
}

/* form section */
.form-container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 6px;
}

h2,
h3 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1e88e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #1565c0;
}
